/* Web Fonts -------------------- */

@font-face {
  font-family:'Abolition Regular' ;
  src: url('../fonts/abolition-regular-webfont.eot');
  src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abolition-regular-webfont.woff') format('woff'),
       url('../fonts/abolition-regular-webfont.ttf') format('truetype');

 
}
/* Base Styles -------------------- */
* {
  box-sizing: border-box;
}

body {
  color: Black;
  margin: 0;
  font: 1em/1.5 "Helvetica Neue, Helvetica, Arial, sans-serif";
}

.hidden{

  display: none;
}

h1,h2 {
 font-family: 'Abolition Regular', Helvetica, Arial, sans-serif ;
}

/*SECTION 03*/ /*spartan logo*/
h1 {  
  font-size: 4rem; 
  line-height: .2; 
  text-shadow: 0 5px 5px;
  margin: 1px 0 0; 
  color: black;
 
}
 /* Spartan Mission Statement */
h2 {
  font-size: 3em; 
  font-weight: normal;
  text-transform: uppercase;
  line-height: .7;
  margin: 1 0 .5em;
  border-bottom:3px solid; 
}

/*Spartan Training title and Command title*/ 
h3 {
  font-size: 2em;
  border-bottom: 2px solid;
  color: black;
  line-height: .7;
  margin-bottom: 0 0 .5em; 
   
}
/*Spartan Variants*/
h4 {
  font-size: 2em; 
  font-weight: normal;
  text-transform: uppercase;
  line-height: .7;
  margin: 2 0 .5em; /*adjusts mission variant text spacing  */
  border-bottom:2px solid; 
}

img {
  max-width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}

ul,
ol {
  margin: 30px 0;
}

li {
  margin-bottom: 10px;
}

/* Pseudo-classes ------------------ */


/*Mission Statment*/
a:link {
  color: royalblue;
  text-decoration: none;
}

a:visited {
  color: Orange;
}


a:active {
  color: RoyalBlue;
}

/* Main Styles --------------------- */

/*The Spartan Program*/
.main-header {
  padding-top: 150px;
  /* height: 850px; */

  /*Background image*/
  background: linear-gradient(#4169e1, transparent 50%),
              linear-gradient(0deg, #fff, transparent),
              #a9a9a9 url('../img/Spartans.jpg') no-repeat center;
  background-size: cover;
  color:white;
}


/*Spartan Logo position*/
.title {
  font-size: 3rem; 
 
  
}
/*Classification warning*/
.intro {
  font-size: 2em 20px/16px;
  line-height: 1.6;  
  color: red;
  letter-spacing: .01em;
  font-weight:500;; 
  padding-bottom: 30px;
  /*text-shadow: 0 5px 5px rgba(0,0,0,.8);*/
}
 /* Spartan, Warning, Role, ONI description*/
.primary-content,
.main-header,
.main-footer {
  text-align: center;
}

.primary-content {
	padding-top: 25px;
  padding-bottom: 100px;
}

.secondary-content {
	padding-top: 80px;
	padding-bottom: 70px;
  border-bottom: 2px solid black;
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 10px solid royalblue;
}

.t-border {
  border-top: 2px solid black;
}

.container-area {
  /* your styles here*/
}

.container-area:nth-child(2n) {
  background-color: whitesmoke;
}
/* Layout Styles ------------------ */

.primary-content, 
.secondary-content {
  width: 75%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
}

.Mission Statement {
  color: black;
  text-align: right;
  padding: 20% 25%;
  border-top: 20px solid black;
  margin: 1000px 0 60px;
  background:black 2 url('../img/Training.jpg') no-repeat center;
  background-size: cover;

}


/* Floated Columns */

.Spartan Variants {
  text-align: center;
}

/* Float Clearfix */

.group:after {
  content: "";
  display:table;
  clear: both;
}
/*adjusts the content of the primary and secondary content areas */

 /*Media Queries*/ 
 
 /*changes the color of the screen when narrower than 960px*/
 @media (max-width: 960px) {
  body {
   background: royalblue; 
  }
}

@media (max-width: 1024px) {
 .primary-content,
 .secondary-content {
   width: 90%;
 }
}

  .Spartan logo.png {
   padding:100% 12;
   margin: 25px 0 20px;
  }

/* when content is narrower than*/
@media (max-width:760px) { 
 .primary-content,
 .secondary-content {
  width: 90%;
 }
}


 @media print {
  section {
    min-height: auto;
  }
 }

.main-header {
  /* max-height: 380px; */
  padding: 50px 25px 0;
 }

 .title {
 font-size:1.3rem;
 border:none; 
 }

h1 {
  font-size: 5rem;
  line-height: 1.1;
}

 .intro {
  font-size:1rem;
}



.commander {
  float:none;
  width:100%;
 }

 .main-footer {
   padding:20px 0;
  }
}



 }
}




